
.loader{
    height: calc(100vh + 200px);
    width: 100%;
    position: fixed;
    z-index: 10000;
    transform-style: preserve-3d;
  }
  
  .loader svg{
    height: 100%;
    width: 100%;
  }
  
  .loader svg path{
    stroke: black;
    stroke-width: 1px;
  }